body {
    font-family: Arial, sans-serif;
}

.wrapper {
    margin: 2rem auto; /* Mengganti lem dengan rem untuk margin */
    max-width: 900px;
    padding: 1em;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2); /* Menggunakan nilai rgba yang benar */
    border: 2px solid pink; /* Menambahkan border solid */
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem; /* Mengganti lem dengan rem untuk jarak */
}

.left-side {
    padding: 1rem; /* Mengganti lem dengan rem */
    background-color: rgb(25, 25, 77);
    color: white; 
}

.img {
    width: 100%;
    height: auto;
    padding: 1px;
    clip-path: circle(50% at center);
}

h1 {
    text-align: center;
}

.left-side > hr {
    color: white;
}

.left-side > ul {
    font-weight: 300;
}

.right-side {
    padding: 1rem; /* Mengganti lem dengan rem */
    display: grid; /* Menambahkan display grid untuk layout yang konsisten */
    grid-template-rows: auto auto auto 1fr; /* Memperbaiki grid-template-rows */
}

.right-side > p {
    text-align: justify;
    font-weight: 300;
}

.right-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0.5em;
}

.work {
    display: grid;
    margin-top: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 0.8em;
}

.position {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 0.8em;
}

.company { /* Mengubah nama kelas untuk konsistensi */
    margin-top: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 0.8em;
}

.date {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 0.8em;
    font-weight: 300;
}

.desc {
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 0.8em;
    text-align: justify;
    font-weight: 300;
}

.study {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr; /* Mengatur kolom untuk studi */
}

.category {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 0.8em;
}

.school {
    margin-top: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 0.8em;
}
